@media(min-width: 992px){
    .input-clean{
        min-width: 580px;
    }

    .advancedBox{
        min-width: 500px;
    }
}

.input-clean{
    border-color: #ced4da !important;
    box-shadow: 0 0 0 0 !important;
}
